audio
{
    width: 70%;
    text-align: center;
}

button
{
  width: 60%;
}

body
{
  background-image: url("../bg.jpg");
  background-size: cover;
}
.buttons
{
  text-align: center;
}

.music
{
  text-align: center;
}

#text
{
  text-align: center;
  font-size: 18px;
}
